body{
    padding: 0;
    margin: 0;
    
}
.pass-foto img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 200px;
}
.wrapper {
    display: grid;
    place-items: center;
}
.data-diri {
    text-align: center;
    font-family: monospace;
}
.data-diri h1 {
    animation: typing 3s steps(20), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}
@keyframes typing {
    from {width: 0}
    to {width: 100%}
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
.table{
    margin-top: 15px;
    text-align: center;
}
.table1{
    width: 100%;
    margin-top: 23px;
    text-align: center;
}
.daftar10{
    background-color: rgb(1, 183, 255);
    padding: 5px;
    font-size: 15px;
    color: white;
    margin-right: 10px;
    border-radius: 3px;
    text-decoration: none;

}
.daftar5{
    background-color: rgb(1, 183, 255);
    padding: 5px;
    font-size: 15px;
    margin-right: 10px;
    color: white;
    border-radius: 3px;
    text-decoration: none;
}
.daftarjquery{
    background-color: rgb(1, 183, 255);
    padding: 5px;
    font-size: 15px;
    color: white;
    border-radius: 3px;
    text-decoration: none;
}